@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "silkscreen" ,"sans-serif";
}
:root{
    --primary-color: rgba(155, 187, 255, 0.803);
}
.dates{
    font-size: 12px;
    color:rgb(57, 56, 56);
}

.memeber{
    display: flex;
    /* max-width: 600px; */
    width: 100%;
    justify-content: space-between;
    padding:30px;
    margin:10px;
    text-transform: uppercase;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 10px;
    border: 3px solid rgb(245, 245, 250);
    color:rgb(20, 16, 88);
    box-shadow: 0px 0px 12px rgb(15, 15, 237);

}
.name{
    display: flex;
    flex-direction: column;
}
button{
    background:transparent;
    border:none;
    outline:none;
    margin:10px;
    color: rgb(20, 16, 88)
}

.submit-btn{

    padding: 10px 30px;
    background-color: var(--primary-color);
}
input{
    padding:10px;
    border-color:var(--primary-color);
    outline:none;

}
.warning{
    font-size: 20px;
    color:red;
    text-align: center;
    display: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
   background: url("https://img.goodfon.com/wallpaper/big/a/53/game-background-gory-les-idoly-cherep-kuvshin-noch.jpg");
   /* background-repeat: no-repeat;
   background-size: cover; */
}
h1{
    padding:30px;
    background-color: rgba(101, 101, 237, 0.86);
    border-radius: 14px;
}
.memeber:hover{
    background-color:rgba(238, 181, 84, 0.716);
    color:white;
    box-shadow: 0px 0px 10px rgba(238, 181, 84, 0.895);
    border-color: white;
}